```css
.menu-inicial{
    background:linear-gradient(
        135deg,
        #1e3c72,
        #2a5298
    );
}

.menu-inicial::before{
    background:rgba(0,0,0,.25);
}

.menu-inicial span{
    left:50%;
    top:50%;
    bottom:auto;

    transform:translate(-50%, -50%);

    font-size:28px;
    letter-spacing:2px;
}
```

